# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build output & cache
.next/
out/
build/
dist/
.vercel

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
