node_modules/
.expo/
dist/
web-build/
android/build/
android/.gradle/
android/app/build/
ios/build/
ios/Pods/
.env*.local
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.tsbuildinfo
*.md
.gemini/
.git/
*.zip
